@page "/verb-notes"
@inject HttpClient Http
@using System.Linq

<PageTitle>Verb Notes</PageTitle>

<h1>Verbs</h1>

<style>
    tr { display: block; float: left; }
    th, td { display: block; }
    h3 { font-weight:900; }
</style>


@if (endings == null)
{
    <div class="epicloader"></div>
}
else
{
    <Animate Animation="Animations.FadeLeft" Easing="Easings.EaseOutQuad" Duration="TimeSpan.FromSeconds(1)">
    <nav>
        <p>Quick links: </p>
        @foreach(string x in page_sections)
        {
            <button style="margin: 0px 10px 20px 10px" class="btn btn-secondary" type="button" onclick="document.getElementById('@x').scrollIntoView({behavior:'smooth'})">@x</button>
        }
    </nav>

    <h3 id="Active Indicative" style="margin-top: 10px">Active Indicative</h3>

    <h5 style="margin-top: 20px; font-weight:bold">Present:</h5>
    <h6>I carry; I warn; I drag; I hear; I take</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            <tr>
                <th>1</th>
                @foreach(var x in endings[0].pres_endings!)
                {
                    if (x == "o") { <td>port-@x.ToString()</td> } 
                    else { <td>porta-@x.ToString()</td> }
                }
             </tr>
             <tr>
                <th>2</th>
                @foreach(var x in endings[1].pres_endings!)
                {
                    <td>mone-@x.ToString()</td>
                }
             </tr>
             <tr>
                <th>3</th>
                @foreach(var x in endings[2].pres_endings!)
                {
                    if (x == "o") { <td>trah-@x.ToString()</td> } 
                    else { <td>trahi-@x.ToString()</td> }
                }
             </tr>
             <tr>
                <th>4</th>
                @foreach(var x in endings[3].pres_endings!)
                {
                    <td>audi-@x.ToString()</td>
                }
             </tr>
             <tr>
                <th>3/4</th>
                @foreach(var x in endings[4].pres_endings!)
                {
                    <td>capi-@x.ToString()</td> }
             </tr>
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Future:</h5>
    <h6>I shall carry; I shall warn; I shall drag; I shall hear; I shall take</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 0; i <= 3; i++)
            {
                <tr>
                    <th>@(i+1)</th>
                    @foreach(var x in endings[i].fut_endings!)
                    {
                        string stem = "";
                        switch (i+1)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trah"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[4].fut_endings!)
                {
                    <td>capi-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Imperfect:</h5>
    <h6>I was carrying; I was warning; I was dragging; I was hearing; I was taking</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 0; i <= 3; i++)
            {
                <tr>
                    <th>@(i+1)</th>
                    @foreach(var x in endings[i].imp_endings!)
                    {
                        string stem = "";
                        switch (i+1)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trahe"; break;
                            case 4: stem = "audie"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[4].imp_endings!)
                {
                    <td>capie-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Perfect:</h5>
    <h6>I (have) carried; I (have) warned; I (have) dragged; I (have) heard; I took, have taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 0; i <= 3; i++)
            {
                <tr>
                    <th>@(i+1)</th>
                    @foreach(var x in endings[i].perf_endings!)
                    {
                        string stem = "";
                        switch (i+1)
                        {
                            case 1: stem = "portav"; break;
                            case 2: stem = "monu"; break;
                            case 3: stem = "trax"; break;
                            case 4: stem = "audiv"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[4].perf_endings!)
                {
                    <td>cep-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Pluperfect:</h5>
    <h6>I had carried; I had warned; I had dragged; I had heard; I had taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 0; i <= 3; i++)
            {
                <tr>
                    <th>@(i+1)</th>
                    @foreach(var x in endings[i].plu_endings!)
                    {
                        string stem = "";
                        switch (i+1)
                        {
                            case 1: stem = "portav"; break;
                            case 2: stem = "monu"; break;
                            case 3: stem = "trax"; break;
                            case 4: stem = "audiv"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[4].plu_endings!)
                {
                    <td>cep-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>


    <h3 id="Passive Indicative" style="margin-top: 35px">Passive Indicative</h3>
    
    <h5 style="margin-top: 20px; font-weight:bold">Present:</h5>
    <h6>I am carried; I am warned; I am dragged; I am heard; I am taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 5; i <= 8; i++)
            {
                <tr>
                    <th>@(i-4)</th>
                    @foreach(var x in endings[i].pres_endings!)
                    {
                        string stem = "";
                        switch (i-4)
                        {
                            case 1: stem = "port"; break;
                            case 2: stem = "mon"; break;
                            case 3: stem = "trah"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[9].pres_endings!)
                {
                    <td>cap-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Future:</h5>
    <h6>I shall be carried; I shall be warned; I shall be dragged; I shall be heard; I shall be taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 5; i <= 8; i++)
            {
                <tr>
                    <th>@(i-4)</th>
                    @foreach(var x in endings[i].fut_endings!)
                    {
                        string stem = "";
                        switch (i-4)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trah"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[9].fut_endings!)
                {
                    <td>capi-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Imperfect:</h5>
    <h6>I was being carried; I was being warned; I was being dragged; I was being heard; I was being taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 5; i <= 8; i++)
            {
                <tr>
                    <th>@(i-4)</th>
                    @foreach(var x in endings[i].imp_endings!)
                    {
                        string stem = "";
                        switch (i-4)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trahe"; break;
                            case 4: stem = "audie"; break;
                        }
                        <td>@stem-@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[9].imp_endings!)
                {
                    <td>capie-@x.ToString()</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Perfect:</h5>
    <h6>I was being carried; I was warned; I was dragged; I was heard; I was taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 5; i <= 8; i++)
            {
                <tr>
                    <th>@(i-4)</th>
                    @foreach(var x in endings[i].perf_endings!)
                    {
                        string stem = "";
                        switch (i-4)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "moni"; break;
                            case 3: stem = "trac"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[9].perf_endings!)
                {
                    <td>@($"cap{x.ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Pluperfect:</h5>
    <h6>I had been carried; I had been warned; I had been dragged; I had been heard; I had been taken</h6>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 5; i <= 8; i++)
            {
                <tr>
                    <th>@(i-4)</th>
                    @foreach(var x in endings[i].plu_endings!)
                    {
                        string stem = "";
                        switch (i-4)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "moni"; break;
                            case 3: stem = "trac"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[9].plu_endings!)
                {
                    <td>@($"cap{x.ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>


    <h3 id="Active Subjunctive" style="margin-top: 35px">Active Subjunctive</h3>
    
    <h5 style="margin-top: 20px; font-weight:bold">Imperfect:</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 10; i <= 13; i++)
            {
                <tr>
                    <th>@(i-9)</th>
                    @foreach(var x in endings[i].imp_endings!)
                    {
                        string stem = "";
                        switch (i-9)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trahe"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@($"{stem}re{x.Substring(2).ToString()}")</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[14].imp_endings!)
                {
                    <td>@($"capere{x.Substring(2).ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Pluperfect:</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 10; i <= 13; i++)
            {
                <tr>
                    <th>@(i-9)</th>
                    @foreach(var x in endings[i].plu_endings!)
                    {
                        string stem = "";
                        switch (i-9)
                        {
                            case 1: stem = "portav"; break;
                            case 2: stem = "monu"; break;
                            case 3: stem = "trax"; break;
                            case 4: stem = "audiv"; break;
                        }
                        <td>@stem@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[14].plu_endings!)
                {
                    <td>@($"cep{x.ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>


    <h3 id="Passive Subjunctive" style="margin-top: 35px">Passive Subjunctive</h3>
    
    <h5 style="margin-top: 20px; font-weight:bold">Imperfect:</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 15; i <= 18; i++)
            {
                <tr>
                    <th>@(i-14)</th>
                    @foreach(var x in endings[i].imp_endings!)
                    {
                        string stem = "";
                        switch (i-14)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "mone"; break;
                            case 3: stem = "trahe"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@($"{stem}{x.ToString()}")</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[19].imp_endings!)
                {
                    <td>@($"cape{x.ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>

    <h5 style="margin-top: 50px; font-weight:bold">Pluperfect:</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation: </th>
                <td>I</td>
                <td>You (sg.)</td>
                <td>S/he/it</td>
                <td>We</td>
                <td>You (pl.)</td>
                <td>They</td>
            </tr>
            @for(int i = 15; i <= 18; i++)
            {
                <tr>
                    <th>@(i-14)</th>
                    @foreach(var x in endings[i].plu_endings!)
                    {
                        string stem = "";
                        switch (i-14)
                        {
                            case 1: stem = "porta"; break;
                            case 2: stem = "moni"; break;
                            case 3: stem = "trac"; break;
                            case 4: stem = "audi"; break;
                        }
                        <td>@stem@x.ToString()</td>
                    }
                </tr>
            }
            <tr>
                <th>3/4</th>
                @foreach(var x in endings[19].plu_endings!)
                {
                    <td>@($"cap{x.ToString()}")</td>
                }
            </tr>
            
        </tbody>
    </table>


    <h3 id="Imperatives" style="margin-top: 35px">Imperatives</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Conjugation</th>
                <td>English</td>
                <td>Singular</td>
                <td>Plural</td>
            </tr>
            <tr>
                <th>1</th>
                <td>carry!</td>
                <td>porta</td>
                <td>portate</td>
            </tr>
            <tr>
                <th>2</th>
                <td>warn!</td>
                <td>mone</td>
                <td>monete</td>
            </tr>
            <tr>
                <th>3</th>
                <td>drag!</td>
                <td>trahe</td>
                <td>trahite</td>
            </tr>
            <tr>
                <th>4</th>
                <td>hear!</td>
                <td>audi</td>
                <td>audite</td>
            </tr>
            <tr>
                <th>3/4</th>
                <td>take!</td>
                <td>cape</td>
                <td>capite</td>
            </tr>
        </tbody>
    </table>


    <h3 id="Infinitives" style="margin-top: 35px">Infinitives</h3>
    <table class="table">
        <tbody>
            <tr style="font-weight:bold">
                <th>Conjugation</th>
                <td>Present Active</td>
                <td>@("‎‎")</td>
                <td>Present Passive</td>
                <td>@("‎")</td>
                <td>Perfect Active</td>
                <td>@("‎‎")</td>
                <td>Perfect Passive</td>
                <td>@("‎")</td>
                <td>Future Active</td>
                <td>@("‎")</td>
            </tr>
            <tr>
                <th>1</th>
                <td>to carry</td>
                <td>portare</td>

                <td>to be carried</td>
                <td>portari</td>

                <td>to have carried</td>
                <td>portavisse</td>

                <td>to have been carried</td>
                <td>portatus esse</td>

                <td>to be about to carry</td>
                <td>portaturus esse</td>
            </tr>
            <tr>
                <th>2</th>
                <td>to warn</td>
                <td>monere</td>

                <td>to be warned</td>
                <td>moneri</td>

                <td>to have warned</td>
                <td>monuisse</td>

                <td>to have been warned</td>
                <td>monitus esse</td>

                <td>to be about to warn</td>
                <td>moniturus esse</td>
            </tr>
            <tr>
                <th>3</th>
                <td>to drag</td>
                <td>trahere</td>

                <td>to be dragged</td>
                <td>trahi</td>

                <td>to have dragged</td>
                <td>traxisse</td>

                <td>to have been dragged</td>
                <td>tractus esse</td>

                <td>to be about to drag</td>
                <td>tracturus esse</td>
            </tr>
            <tr>
                <th>4</th>
                <td>to hear</td>
                <td>audire</td>

                <td>to be heard</td>
                <td>audiri</td>

                <td>to have heard</td>
                <td>audivisse</td>

                <td>to have been heard</td>
                <td>auditus esse</td>

                <td>to be about to hear</td>
                <td>auditurus esse</td>
            </tr>
            <tr>
                <th>3/4</th>
                <td>to take</td>
                <td>capere</td>

                <td>to be taken</td>
                <td>capi</td>

                <td>to have taken</td>
                <td>cepisse</td>

                <td>to have been taken</td>
                <td>captus esse</td>

                <td>to be about to take</td>
                <td>capturus esse</td>
            </tr>
        </tbody>
    </table>


    <h3 id="Participles" style="margin-top: 35px">Participles</h3>
    <table class="table">
        <tbody>
            <tr style="font-weight:bold">
                <th>Conjugation</th>
                <td>Present Active</td>
                <td>@("‎‎")</td>
                <td>Perfect Passive</td>
                <td>@("‎")</td>
                <td>Future Active</td>
                <td>@("‎")</td>
            </tr>
            <tr>
                <th>1...</th>
                <td>carrying</td>
                <td>portans -antis</td>

                <td>having been carried</td>
                <td>portatus</td>

                <td>about to carry</td>
                <td>portaturus</td>
            </tr>
            
        </tbody>
    </table>
    </Animate>
}




@code {
    private verb_endings[]? endings;
    private string[] page_sections = { "Active Indicative","Passive Indicative","Active Subjunctive","Passive Subjunctive","Imperatives", "Infinitives", "Participles"};


    protected override async Task OnInitializedAsync()
    {
        endings = await Http.GetFromJsonAsync<verb_endings[]>("data/verb/verb-endings_latin.json");
    }

    public class verb_endings
    {
        public string? Conjugation { get; set; }
        public string? Type { get; set; }
        public string[]? pres_endings { get; set; }
        public string[]? fut_endings { get; set; }
        public string[]? imp_endings { get; set; }
        public string[]? perf_endings { get; set; }
        public string[]? plu_endings { get; set; }
    }
}
